<iframe id="ytplayer" type="text/html" width="100%" height="0" src="https://www.youtube.com/embed/<%= @uwiki %>?version=3&controls=0&showinfo=0&rel=0&loop=1&playlist=<%= @uwiki %>&cc_load_policy=1&autoplay=1" frameborder="0"></iframe>
<audio id="audio" autoplay="autoplay">
	<source src="<%= @audio %>.mp3" type="audio/mp3"/>
</audio>
<!-- <button onClick="document.getElementById('audio').play()">Play</button> <button onClick="document.getElementById('audio').pause()">Pause</button> -->

<!-- &disablekb=1&cc_load_policy=1 -->
<div class="video-background">
	<div class="video-foreground">
		<iframe src="https://www.youtube.com/embed/<%= @u %>?version=3&controls=0&showinfo=0&rel=0&loop=1&playlist=<%= @u %>&autoplay=1&rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	</div>
</div>

<div id="vidtop-content">
	<div class="vid-info">
		<h1>
			<a href="<%= @fullurl %>" target="_blank"><%= @title %></a>
		</h1>
		<p><%= @summary %></p>
		<a href="<%= @editurl %>" target="_blank">Edit</a>
		<a href="https://github.com/leo424y/uwikipedia/issues" target="_blank">Report Issue</a>
	</div>
</div>

<script>
	function amplifyMedia(mediaElem, multiplier) {
		var context = new(window.AudioContext || window.webkitAudioContext),
			result = {
				context: context,
				source: context.createMediaElementSource(mediaElem),
				gain: context.createGain(),
				media: mediaElem,
				amplify: function (multiplier) {
					result.gain.gain.value = multiplier;
				},
				getAmpLevel: function () {
					return result.gain.gain.value;
				}
			};
		result.source.connect(result.gain);
		result.gain.connect(context.destination);
		result.amplify(multiplier);
		return result;
	}
	amplifyMedia(document.getElementById('audio'), 3);

	var s = 0;
	var sw = '';
	var sw1 = '';

	var int1;
	var timer = 0;

	clearInterval(int1);
	int1 = setInterval(function () {
		sw = window.getSelection().toString().trim();
		s = sw.length;
		if (s > 0 && sw == sw1 && timer > 1) {
			timer = -1000;
			window.location = "https://<%= @sub_domain %>.uwikipedia.org/wiki/" + sw;
		} else {
			timer = timer + 2;
			sw1 = sw;
		}
	}, 2000);
</script>
